# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
vectordb/
*.sqlite3
# Virtual environment
venv/
.venv

# Environment variables (secrets)
.env

# VS Code settings
.vscode/

# Logs
*.log

# Build files
dist/
build/
output.txt
complete_astrology_data_corrected.txt

#csv
csv/
test data/

